@media screen and (max-width:969px) {
    .header-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ededed;
        z-index: 999;
        padding: 10px 0 0 45px !important; 
        transition: 250ms;

    }
    .header-menu.active {
        overflow: hidden;
        top: 0;
        transition: 250ms;
    }


    .header__burger.active:before{
        transform: rotate(45deg);
        top: 13px;
        transition: 250ms;
    }

    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: 250ms;

    }

    .header__burger.active span {
        transform: scale(0);
        transition: 250ms;

    }

}

.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 26px;
    z-index: 1000;
    transition: 250ms;

    @media screen and (min-width:970px) {
        display: none;
    }
}

.header__burger::before, .header__burger::after {
    content: ' ';
    background-color: #6c6c6c;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}


.header__burger:before {
    top: 0;
    transition: 250ms;
}

.header__burger:after {
    bottom: 0;
    transition: 250ms;
}

.header__burger__span {
    background-color: #6c6c6c;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 12px;
    transition: 250ms;
}

