.content {
    padding: 30px 0;
}

.content__wrapper {
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns:  8% 44% 44%;
    grid-gap: 20px;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;

    }
}


.content__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width: 1200px) {
        flex-direction: row;
        padding: 10px 0;
        gap: 10px;
    }
}

.content-item__card {
    display: flex;
    justify-content: space-between;

}

.content-item__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.yellow__mark {
    width: 18px;
    height: 18px;
}

.content-item__in-stock {
    display: flex;
    gap: 10px;
}

.content-item__in-stock__text {
    font-family: 'Gilroy',Arial, sans-serif;    
    font-size: 12px;
    color: #6e6e6e;

    text-align: start;

}

.content-item__text {
 text-align: start;
}



.content-item__round {
    background-image: url(../assets/images/yellow_round.png);
    width: 18px;
    height: 18px;
}


.content-item__text {
    font-family: 'Gilroy',Arial, sans-serif;    
    font-size: 18px;
    font-weight: 700;
}


.content__card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80px;
    height: 80px;
    border: 2px solid $grey-color;
    cursor: pointer;

    @media screen and (max-width: 450px) {
        width: 60px;
        height: 60px;
    }
    
    
}

.content__card:hover {
    border: 2px solid $yellow-color;
    transition: 250ms;
}

.content__card__img {
    max-width: 100% !important;
    max-height: 100% !important;
}


.cotent__big {
    position: relative;
    border: 2px solid $grey-color;
}

.cotent__big__img {
    max-width: 100%;
    max-height: 10%;
}

.increase {

    cursor: pointer;
    padding: 17px;
    border-radius: 50%;
    border: 2px solid $grey-color;
    margin-left: 90%;
    margin-top: 1%;
    background-position: center;
    position: absolute;
    background-image: url(../assets/images/search-plus.png);
    background-repeat: no-repeat;
    // width: 20px;
    // height: 19px;

    @media screen and (max-width:1200px) {
        margin-left: 94%;
        margin-top: 1%;
    }

    @media screen and (max-width:880px) {
        margin-left: 93%;
        margin-top: 1%;
    }

    @media screen and (max-width:768px) {
        margin-left: 92%;
        margin-top: 1%;
    }

    @media screen and (max-width:768px) {
        margin-left: 91%;
        margin-top: 1%;
    }

    @media screen and (max-width:540px) {
        margin-left: 90%;
        margin-top: 1%;
    }

    @media screen and (max-width:540px) {
        margin-left: 89%;
        margin-top: 1%;
    }
    @media screen and (max-width:450px) {
        margin-left: 88%;
        margin-top: 1%;
    }
    @media screen and (max-width:450px) {
        margin-left: 87%;
        margin-top: 1%;
    }
    @media screen and (max-width:380px) {
        margin-left: 86%;
        margin-top: 1%;
    }
    @media screen and (max-width:380px) {
        margin-left: 84%;
        margin-top: 1%;
    }
}

.content-item__header{
    border-bottom: 2px solid $grey-color;
    padding-bottom: 25px;
}

.content-item__card__inner {
    display: flex;
    gap: 5px;
}

.card__black {
    background-image: url(../assets/images/svg/black.svg);
    background-repeat: no-repeat;
    width: 43px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
}

.card__yellow {
    background-image: url(../assets/images/svg/yellow.svg);
    background-repeat: no-repeat;
    width: 43px;
    height: 50px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
}

//=============stars=========

.content-item__stars {
    padding: 25px 0;
    border-bottom: 2px solid $grey-color;
}

.content-item__stars__card {
    display: flex;
}

.content-item__stars__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:768px) {
        flex-wrap: wrap;
        gap: 10px;
    }
}


.content-item__stars__box {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    cursor: pointer;
}

.card__img {
    width: 22px;
    height: 22px;
}

.card__review {
    border-bottom: dashed;
}

// ===================content__main===================== -->

.content-item__main__header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (max-width: 1485px) {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.price-box {
    border: 2px solid $yellow-color;
    display: flex;
    gap: 0;
}

.price {
    font-family: 'Gilroy',Arial, sans-serif; 
    font-weight: 700;   
    font-size: 13px;
    padding: 12px 60px;
}

.yellow-box {
    height: 50px;
    width: 58px;
    background-color: $yellow-color;
}

.price__img {
    position: relative;
    left: 0;
    // right: 50%;
    transform: translate(92%, 66%);
    width: 22px;
    height: 19px;
}

.content-item__main__item{
    display: flex;
}

.content-info {
    display: flex;
    gap: 19px;
}

.content-item__main__card{
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: flex-end;
}

.content-item__main__heart {
    width: 22px;
    height: 18px;
}

.content-item__main__text {
    font-family: 'Gilroy',Arial, sans-serif;    
    border-bottom: dotted;
    font-weight: 600;
}

//==============content-info======
.content-item__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-item__info__title {
    font-family: 'Gilroy',Arial, sans-serif;    
    text-align: start;
}


.guarantee__link {
    font-family: 'Gilroy',Arial, sans-serif;    
    padding-bottom: 2px;
    text-align: start;
    font-weight: 600;
    color: black;
    border-bottom: dotted;
    margin-right: auto;
    right: auto;
}

.content-item__info__text {
    font-family: 'Gilroy',Arial, sans-serif;    
    text-align: start;
}


.content-item__info__footer {
    text-align: start;
}

.content-item__info__vendor-code {
    font-weight: 600;
}

