
.header {
    background: #ededed;
    border-bottom: 1px solid #cccccc;
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.haeder__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-menu {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width:970px) {

        .header-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
       }

        .header-menu__item__link {
            font-size: 25px;
        }
        
    }
   
}



.header-menu__item:not(:last-child) {
        margin-right: 20px;
        @media screen and (max-width:768px) {
            margin-right: 10px;
        }
    
}

.header-menu__item__link {
    font-size: 15px;
    font-family: Arial;
    color: black;
    transition: 250ms;
    font-weight: 500;

    &:hover {
        color: #818181;
    }
}

.header-nav {
    display: flex;
}

.header-nav__item {
    border: none;
    padding: 13px 10px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    cursor: pointer;


    &:hover, &:active {
        background-color: #f8f8f8;
        font-weight: 500;
        transition: 110ms;
        color: #818181;
    }
    
}



