@charset "UTF-8";
@import '~normalize.css';
@font-face {
  src: url(../assets/fonts/Gilroy-Regular.ttf) format("truetype");
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 400;
}
@font-face {
  src: url(../assets/fonts/Gilroy-Medium.ttf) format("truetype");
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 500;
}
@font-face {
  src: url(../../assets/fonts/Gilroy-Bold.ttf) format("truetype");
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
}
@font-face {
  src: url(../../assets/fonts/Gilroy-ExtraBold.ttf) format("truetype");
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
}
.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

body {
  font-family: "Gilroy", Arial, sans-serif;
  overflow: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 969px) {
  .header-menu {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    z-index: 999;
    padding: 10px 0 0 45px !important;
    transition: 250ms;
  }
  .header-menu.active {
    overflow: hidden;
    top: 0;
    transition: 250ms;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 13px;
    transition: 250ms;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    transition: 250ms;
  }
  .header__burger.active span {
    transform: scale(0);
    transition: 250ms;
  }
}
.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 26px;
  z-index: 1000;
  transition: 250ms;
}
@media screen and (min-width: 970px) {
  .header__burger {
    display: none;
  }
}

.header__burger::before, .header__burger::after {
  content: " ";
  background-color: #6c6c6c;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__burger:before {
  top: 0;
  transition: 250ms;
}

.header__burger:after {
  bottom: 0;
  transition: 250ms;
}

.header__burger__span {
  background-color: #6c6c6c;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 12px;
  transition: 250ms;
}

.content__raiting {
  position: relative;
  display: inline-block;
}

.content__raiting__item::before {
  content: " ";
  background-image: url(../../assets/images/yellow-star.png) center/auto 100% no-repeat;
  background-repeat: repeat-x;
  display: block;
  background-position: center;
  width: 18px;
  height: 17px;
}

.content__raiting__items {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
}

.content__raiting__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.content__raiting__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: black;
  background-image: url(../../assets/images/white-star.png);
  background-position: center;
  background-repeat: no-repeat;
}

.content__raiting__label::before {
  content: "";
  background: url(../../assets/images/white-star.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  display: block;
  transition: color 0.2s ease 0s;
}

.content__raiting__item:checked,
.content__raiting__item:checked ~ .content__raiting__label {
  background-image: url(../../assets/images/yellow-star.png);
  width: 18px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
}

.content__raiting__label:hover,
.content__raiting__label:hover ~ .content__raiting__label,
.content__raiting__label:checked ~ .content__raiting__label:hover {
  background-image: url(../../assets/images/yellow-star.png);
  width: 18px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header {
  background: #ededed;
  border-bottom: 1px solid #cccccc;
}

.haeder__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 970px) {
  .header-menu .header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu .header-menu__item__link {
    font-size: 25px;
  }
}

.header-menu__item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .header-menu__item:not(:last-child) {
    margin-right: 10px;
  }
}

.header-menu__item__link {
  font-size: 15px;
  font-family: Arial;
  color: black;
  transition: 250ms;
  font-weight: 500;
}
.header-menu__item__link:hover {
  color: #818181;
}

.header-nav {
  display: flex;
}

.header-nav__item {
  border: none;
  padding: 13px 10px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.header-nav__item:hover, .header-nav__item:active {
  background-color: #f8f8f8;
  font-weight: 500;
  transition: 110ms;
  color: #818181;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__logo {
  width: 295px;
  height: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1045px) {
  .hero__logo {
    width: 196px;
    height: 33px;
  }
}

.hero__wrapper {
  display: flex;
  padding: 25px 0;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1045px) {
  .hero__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
  }
}
@media screen and (max-width: 493px) {
  .hero__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    grid-gap: 15px;
  }
}

.hero__item:last-child {
  margin-right: 50px;
}
@media screen and (max-width: 1045px) {
  .hero__item:last-child {
    margin-right: 0;
  }
}

.item__info {
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 1045px) {
  .item__info {
    display: flex;
  }
}

.hero__text {
  color: #6e6e6e;
  font-size: 12px;
}

.hero__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
}

.hero__list__item {
  font-size: 15px;
}

.hero__list__item:nth-child(2) {
  font-weight: 700;
}

.hero__png__location {
  width: 17px;
  height: 26px;
}

.hero__tel {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero__tel__inner {
  font-weight: 700;
}

.call__back {
  padding: 10px 12px;
  border: none;
  background-color: #ffec00;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.catalog {
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
}

.catalog__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1045px) {
  .catalog__wrapper {
    flex-direction: column-reverse;
    padding: 10px 0;
    gap: 10px;
  }
}

.catalog__button {
  padding: 18px 22px;
  background-color: #ededed;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog__inner-box {
  display: flex;
}

.serch {
  width: 400px;
  height: 30px;
  border: 2px solid #b5b4b4;
  color: black;
  background-image: url(./../../assets/images/search.png) 14px 15px;
  font-weight: 500;
  padding-left: 10px;
}
.serch::-moz-placeholder {
  font-family: "Gilroy";
  font-size: 15px;
  color: #d5d5d5;
  padding-left: 10px;
}
.serch:-ms-input-placeholder {
  font-family: "Gilroy";
  font-size: 15px;
  color: #d5d5d5;
  padding-left: 10px;
}
.serch::placeholder {
  font-family: "Gilroy";
  font-size: 15px;
  color: #d5d5d5;
  padding-left: 10px;
}
@media screen and (max-width: 1178px) {
  .serch {
    width: 250px;
  }
}

.serch:active {
  border: 2px solid #000000;
}

.catalog__inner__card:last-child {
  margin-right: 17px;
}

.catalog__inner {
  display: flex;
  gap: 20px;
}

.catalog__inner__card {
  display: flex;
}
@media screen and (max-width: 450px) {
  .catalog__inner__card {
    flex-direction: column;
    gap: 5px;
  }
}

.round {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 12px;
}

.yellow {
  background-color: #ffec00;
}

.round__number {
  position: relative;
  top: 2px;
}

.aside {
  padding: 22px 0;
}

.aside__list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.aside__item {
  font-size: 12px;
  color: #6d6d6d;
}
.aside__item.aside__item:last-child {
  color: #cdcbcb;
}

.aside__arr {
  width: 6px;
  height: 6px;
  border-top: 1px solid #cdcbcb;
  border-right: 1px solid #cdcbcb;
  transform: rotate(45deg);
  display: inline-block;
  transition: 1s;
}

.advertising {
  background-image: url(../../assets/images/advertising-bg.png);
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.advertising__tittle {
  font-size: 40px;
  color: black;
  font-weight: 900;
  text-align: start;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .advertising__tittle {
    font-size: 30px;
  }
}

.advertising__text {
  text-align: start;
  font-size: 14px;
  color: black;
}

.content {
  padding: 30px 0;
}

.content__wrapper {
  display: grid;
  grid-template-columns: 8% 44% 44%;
  grid-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.content__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .content__cards {
    flex-direction: row;
    padding: 10px 0;
    gap: 10px;
  }
}

.content-item__card {
  display: flex;
  justify-content: space-between;
}

.content-item__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.yellow__mark {
  width: 18px;
  height: 18px;
}

.content-item__in-stock {
  display: flex;
  gap: 10px;
}

.content-item__in-stock__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 12px;
  color: #6e6e6e;
}

.content-item__round {
  background-image: url(../assets/images/yellow_round.png);
  width: 18px;
  height: 18px;
}

.content-item__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid #ececec;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .content__card {
    width: 60px;
    height: 60px;
  }
}

.content__card:hover {
  border: 2px solid #faeb37;
  transition: 250ms;
}

.content__card__img {
  max-width: 100% !important;
  max-height: 100% !important;
}

.cotent__big {
  position: relative;
  border: 2px solid #ececec;
}

.cotent__big__img {
  max-width: 100%;
  max-height: 10%;
}

.increase {
  cursor: pointer;
  padding: 17px;
  border-radius: 50%;
  border: 2px solid #ececec;
  margin-left: 90%;
  margin-top: 1%;
  background-position: center;
  position: absolute;
  background-image: url(../assets/images/search-plus.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .increase {
    margin-left: 94%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 880px) {
  .increase {
    margin-left: 93%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 768px) {
  .increase {
    margin-left: 92%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 768px) {
  .increase {
    margin-left: 91%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 540px) {
  .increase {
    margin-left: 90%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 540px) {
  .increase {
    margin-left: 89%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 450px) {
  .increase {
    margin-left: 88%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 450px) {
  .increase {
    margin-left: 87%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 380px) {
  .increase {
    margin-left: 86%;
    margin-top: 1%;
  }
}
@media screen and (max-width: 380px) {
  .increase {
    margin-left: 84%;
    margin-top: 1%;
  }
}

.content-item__header {
  border-bottom: 2px solid #ececec;
  padding-bottom: 25px;
}

.content-item__card__inner {
  display: flex;
  gap: 5px;
}

.card__black {
  background-image: url(../assets/images/svg/black.svg);
  background-repeat: no-repeat;
  width: 43px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
}

.card__yellow {
  background-image: url(../assets/images/svg/yellow.svg);
  background-repeat: no-repeat;
  width: 43px;
  height: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
}

.content-item__stars {
  padding: 25px 0;
  border-bottom: 2px solid #ececec;
}

.content-item__stars__card {
  display: flex;
}

.content-item__stars__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .content-item__stars__wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.content-item__stars__star {
  cursor: pointer;
  background-image: url(../assets/images/yellow-star.png);
  width: 18px;
  height: 17px;
}

.star:not(:last-child) {
  margin-right: 4px;
}

.content-item__stars__star-white {
  background-image: url(../assets/images/white-star.png);
  width: 18px;
  height: 17px;
}

.amount {
  font-size: 12px;
  color: #cacaca;
  margin-left: 10px;
}

.content-item__stars__box {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}

.card__img {
  width: 22px;
  height: 22px;
}

.card__review {
  border-bottom: dashed;
}

.content-item__main__header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1485px) {
  .content-item__main__header {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.price-box {
  border: 2px solid #faeb37;
  display: flex;
  gap: 0;
}

.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 60px;
}

.yellow-box {
  height: 50px;
  width: 58px;
  background-color: #faeb37;
}

.price__img {
  position: relative;
  left: 0;
  transform: translate(92%, 66%);
  width: 22px;
  height: 19px;
}

.content-item__main__item {
  display: flex;
}

.content-info {
  display: flex;
  gap: 19px;
}

.content-item__main__card {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: flex-end;
}

.content-item__main__heart {
  width: 22px;
  height: 18px;
}

.content-item__main__text {
  font-family: "Gilroy", Arial, sans-serif;
  border-bottom: dotted;
  font-weight: 600;
}

.content-item__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-item__info__title {
  font-family: "Gilroy", Arial, sans-serif;
  text-align: start;
}

.guarantee__link {
  font-family: "Gilroy", Arial, sans-serif;
  padding-bottom: 2px;
  text-align: start;
  font-weight: 600;
  color: black;
  border-bottom: dotted;
  margin-right: auto;
  right: auto;
}

.content-item__info__text {
  font-family: "Gilroy", Arial, sans-serif;
  text-align: start;
}

.content-item__info__footer {
  text-align: start;
}

.content-item__info__vendor-code {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */