@import './normalize.css';

// FONTS
@import './components/fonts';

// VARIABLES
@import 'components/variebles';

// INITIAL

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

// FILES

@import 'components/res';
@import 'components/container';

//burger

@import 'components/burger';
//rating
@import 'components/rating';


@import 'components/catalog_list';

@import 'components/menu';






@import 'components/header';
@import 'components/logo';

@import 'components/hero';
@import 'components/catalog';
@import 'components/aside';
@import 'components/advertising';
@import 'components/content';




